awswrangler
blinker
boto3
certifi
charset-normalizer
click
Flask
Flask-Cors
idna
JayDeBeApi
Jinja2
jmespath
JPype1
MarkupSafe
numpy
packaging
pyarrow
python-dateutil
pytz
s3transfer
six
typing_extensions
tzdata
Werkzeug
flask-limiter
requests
gunicorn==19.9.0
